.slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slide-wrapper {
    display: flex;
    height: 100%;
}

.left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: .3;
}

.left-arrow:hover {
    background-color: rgba(46, 46, 46, .9);
    transition: all 200ms ease-in-out;
    opacity: .8;
}

.right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    font-size: 45px;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: .3;
}

.right-arrow:hover {
    background-color: rgba(46, 46, 46, .9);
    transition: all 200ms ease-in-out;
    opacity: .8;
}

.slide {
    width: 100%;
    /* border-radius: 10px; */
    /* transition: all 200ms ease-in-out; */
}

.circle-btn-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.circle-btn {
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    width: 10px;
    height: 10px;
}

.active {
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .right-arrow {
        font-size: 35px;
    }

    .left-arrow {
        font-size: 35px;
    }
}